body {
	font-family: Roboto, Helvetica, arial, sans-serif;
	font-weight: 200;
	font-size: 11pt;
	background: #B7BFCC;
}

h1 {
	font-size: 170%;
	color: #244E99;
	text-transform: capitalize;
}

h2 {
	text-transform: capitalize;
	font-weight: 400;
	font-size: 130%;
	color: #244E99;
}

h3 {
	font-weight: 400;
	font-size: 120%;
}

h1, h2, h3{
	padding: 0;
	margin: 0;
}

p {
	margin: 0.5em 0 0.5em 0
}

a {
	color: #3277CC;
	text-decoration: none;
}

a > h2, h2 > a {
	color: #244E99;
}

a:hover {
	color: #FFF;
}

section {
	margin: 0 2em 2em 2em;
}

/*Personal*/
#personal {
	margin: 2em;
}

#personal li {
	margin-bottom: 0;
}

#photo img {
	width: 7em;
	border-radius: 100%;
	border: 0.15em solid white;
	box-shadow: 0em 0.2em 0.2em rgba(0,0,0,0.5);
}

#photo {
	float:left;
}

#personal .inline-dt {
	display: inline-block;
}

#work ul, #know > ul, #love ul, #personal > ul {
	padding: 0;
	margin: 0;
}

#work > ul > li, #know > ul > li, #love > ul > li, #personal > ul > li {
	vertical-align: top;
	display: inline-block;
	margin: 1em 1em 1em 0em;
}

#work p, #work h2, #work h3, #love h3, #love p {
	text-align: left;
}

#work span {
	font-weight: 400;
}

#work > ul > li {
	width: 30%;
}

#know > ul > li {
	width: 18%;
}

#love > ul > li {
	width: 22%;
}

#know > ul > li > ul, #hate > ul, #personal > ul > li > ul {
	padding-left: 1.5em;
	list-style-type: square;
}

.mobile-invisible {
	font-style: italic;
}

@media only screen and (max-width: 40em) {
	body{
		font-size: 10pt;
	}

	#work > ul > li, #know > ul > li, #love > ul > li {
		width: 100%;
	}

	#work > ul > li, #know > ul > li, #love > ul > li {
		display: block;
		padding: 0em;
	}

	#photo img {
		width: 100%;
		border: none;
		box-shadow: none;
		border-radius: 0%;
		margin-top: -30%;
		margin-bottom: -50%;
	}

	#photo {
		margin: 0;
		height: 10%;
		float: none;
		overflow: hidden;
	}

	.mobile-invisible {
		display: none;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#work > ul > li {
		width: 45%;
	}

	#love > ul > li {
		width: 30%;
	}

	#know > ul > li {
		width: 25%;
	}
}

/*Hashtags*/
ul.tags {
	font-size: 83%;
	font-weight: 400;
	padding: 0;
	color: rgba(0,0,0,0.5);
}
ul.tags > li {
	display: inline;
}
ul.tags > li:before {
	content: "#";
}

/*Footer*/
footer {
	font-family: monospace;
	font-size: 75%;
	font-weight: 400;
	color: rgba(0,0,0,0.7);
	text-align: center;
}